# Get Group Members

## Why you are using this script
This script creates a csv of group members for a provided course. 
The output is a csv called "courseid_course_name_Group Information_datetime.csv" in the folder "output".

## How to run
You need to have
1. A valid token - be prepared to copy and paste
1. The course id (should be a number)
1. Below confirm that the API_URL is your institution (if not, you can change it directly)

To run
Select "Kernel -> Restart and Run All" 

## What to Expect
### Url Validation
You will be asked to input your institutions URL. The standard UBC url is `https://ubc.instructure.com`
> Please use `https://ubc.test.instructure.com` for testing.

### Token Validation
You will be asked to enter your token. If it is valid, you will see your name and user id. If it is not valid, you will see an error message.

### Course Entry
You will be asked to enter the course id. If you have appropriate access to the course you will see the Course ID and Course Name and the script will move on to the next stage.

### Confirmation
If the token and course id are valid you should see the csv that will be generated. You will be asked to confirm 'y' or not 'n'. If you confirm (y) then a new csv will be generated. If you do not confirm (n), the script will end. I recommend running "Kernel -> Restart and Clear Output" before exiting.

### Output

The output should have the following columns and similar rows of data. 
Note - the example below also has a description of each column - this will NOT appear in the final output.

"123_Some Course_Group Information.csv"

|course_id|course_name|group_id|group_name|user_id|user_name|
|---|---|---|---|---|---|
|(entered course id)|(retrieved course name)|(canvas group id)|(canvas group name)|(canvas user id)|(canvas name)|
|---|---|---|---|---|---|---|
|123|Some Course|124|Some Group|1123|User Name 1|
|123|Some Course|124|Some Group|1232|User Name 2|
|123|Some Course|124|Some Group|1423|User Name 3|

# Run the script

Watch for inputs required as the script runs.

In [2]:
%run -i 'src/get_group_csv.py'

Please enter your url: https://ubc.instructure.com
Please enter your token: ········

Hello, Alison Myers!
Course ID: 10456

Confirmation:
USER:  Alison Myers
COURSE:  Alison Myers Sandbox


Would you like to continue using the above information? [y/n]:
y

,group_id,group_name,course_name,course_id,user_id,user_name
0,276676,random groups 1,Alison Myers Sandbox,10456,93997,LtsStudentFive LtsStudentFive
1,276676,random groups 1,Alison Myers Sandbox,10456,93994,LtsStudentThree LtsStudentThree
2,276677,random groups 2,Alison Myers Sandbox,10456,93991,LTS StudentOne
3,276677,random groups 2,Alison Myers Sandbox,10456,93992,LTS StudentTwo
4,276678,random groups 3,Alison Myers Sandbox,10456,93995,LtsStudentFour LtsStudentFour
5,276678,random groups 3,Alison Myers Sandbox,10456,93999,LtsStudentSeven LtsStudentSeven

   group_id       group_name           course_name  course_id  user_id  \
0    276676  random groups 1  Alison Myers Sandbox      10456    93997
1    276676  random groups 1  Alison Myers Sandbox      10456    93994
2    276677  random groups 2  Alison Myers Sandbox      10456    93991
3    276677  random groups 2  Alison Myers Sandbox      10456    93992
4    276678  random groups 3  Alison Myers Sandbox      10456    93995

                         user_name
0    LtsStudentFive LtsStudentFive
1  LtsStudentThree LtsStudentThree
2                   LTS StudentOne
3                   LTS StudentTwo
4    LtsStudentFour LtsStudentFour
Your csv will be called: output/10456_Alison Myers Sandbox_Group Information_2021-01-11_151446.csv
Do you want to generate this csv from with the data above? (y/n): y

output/10456_Alison Myers Sandbox_Group Information_2021-01-11_151446.csv created.
Bye!